table.basic th {text-align:right;}
table.smaller tr{
  font-size: 0.9em;
  font-weight: normal;
}
table.smaller th{
  font-size: 1em;
  font-weight: bold;
}
table.smaller td{
  padding: 0.18em 0 0.19em 0.33em;
}
table.smaller th.cb{
  padding: 0 0.23em 0 0;
}
table.smaller td.cb{
  padding: 0 0.23em 0 0;
  background-color: #fff;
}
td.wp-cold{
  background-color: #ccc;  
}
td.wp-warm{
  background-color: #a9a9a9;
}
td.left{
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-topleft:8px;
}
td.right{
  -moz-border-radius-bottomright:8px;
  -moz-border-radius-topright:8px;
}

table.items{
  border-width: 0;
  border-collapse: separate;
  border-spacing: 0 0.23em;
}
table.basic td.buttons{
  padding-left:0.7em;
  font-weight: bold;
  font-size: 1em;
  background-color: #fff;
}
.bottom-buttons{
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
}
em.note{
  font-size: small;
}