%h1 some haml
%p some haml not in html
%p here should be some data set in the actually controller: #{ @some_data_set_in_the_actual_controller }
%p here should be test data set in the partial controller: #{ @i_am_data_set_in_the_partial_controller }
%p done with haml
