body { /* thanks http://chneukirchen.org/ */
font-family:"Helvetica Neue",Arial,sans-serif;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:bold;
letter-spacing:-0.75pt;
/*padding-left: 1em;*/
}
div.default-wrapper{ margin: 0.87em 0.6em }
h1,h2,h3,h4,h5 {color:#999999;      }
h1{ font-size:20pt; line-height:22pt;}
h2{ font-size:17pt; }
h3{ font-size:13pt; }
h4{ font-size:11pt; }
h5{ font-size:10pt; }
a{text-decoration:none;color: #999;}
a:hover{color: #000;}
div.clear {clear:both;}

h2.generic{margin: 1.2em 0 0.5em 1em;}

div.screen-like{
  background-color:#ccc;
  width: 50em;
  padding: 1em;
  white-space: normal
}
div.backend-response{
  font-family:Andale Mono,monospace;
  font-size:0.85em;
  /*white-space:pre;  we want it to wrap longer lines*/
}

.button-3{margin: 0 0 0 0.23em; color: #999}

table.basic th{color: #999; padding: 0 0.40em 0 0;}
table.basic .separator {margin: 0 0 0 0.40em; color: #000;}


table.generic-horizontal th{color: #999; padding: 0 0.40em 0 0; text-align: right;}

table.generic-vertical{
  border-width: 0;
  border-collapse: separate;
  border-spacing: 0 0.23em;
  position: relative;
  left: 1em;
}
table.generic-vertical td.cold{
  background-color: #ccc;
}
table.generic-vertical td.warm{
  background-color: #a9a9a9;
}
table.generic-vertical td.left{
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-topleft:8px;
}
table.generic-vertical  td.right{
  -moz-border-radius-bottomright:8px;
  -moz-border-radius-topright:8px;
}
table.generic-vertical th{
  font-size: 1em;
  font-weight: bold;
  color: #999;
}
table.generic-vertical  td{
  padding: 0.18em 0 0.19em 0.33em;
  text-align: left;
}
table.generic-vertical  th.cb{
  padding: 0 0.23em 0 0;
}
table.generic-vertical td.cb{
  padding: 0 0.23em 0 0;
  background-color: #fff;
  text-align: left;
}
table.generic-vertical th.wedrag div.separator {
  color: black;
}
table.generic-vertical .out{
  overflow: hidden;
}
table.generic-vertical th div.in{
  float: right;
  padding: 0 0.4em 0 0.2em;
  /*margin-left: auto;
  margin-right: auto;*/
  /* width is set by resizable_table */
}
table.generic-vertical td div.in{
 padding: 0 0.5em 0 0.2em;
}
table.smaller tr{
  font-size: 0.9em;
  font-weight: normal;
}
table.smaller .button-3 {
  font-size: 1em;
  font-weight: bold;
}
table.smaller th{
  font-size: 1em;
  font-weight: bold;
}
table.smaller td{
  padding: 0.18em 0 0.19em 0.33em;
}
table.smaller th.cb{
  padding: 0 0.23em 0 0;
}
table.smaller td.cb{
  padding: 0 0.23em 0 0;
  background-color: #fff;
}

table .edrag{cursor: e-resize;  }
table .wdrag{cursor: w-resize;  }
table .cdrag{ cursor: col-resize;}


ul.zones-with-pipes{ list-style: none; padding: 0; margin: 0; }
ul.zones-with-pipes li a{
  float: left;
  padding:0.1em 0.23em 0.25em 0;
  margin: 0 0.15em;
}
ul.zones-with-pipes li span.separator{ padding: 0 0 0 0.23em; color: #000;}

ul.zones-as-buttons{ list-style: none; padding: 0; margin: 0; }
ul.zones-as-buttons li a{
  color: #eee;
  float: left;
  background-color: #999;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -opera-border-radius:8px;
  -khtml-border-radius:8px;
  border-radius:9px;
  padding:0.1em 0.82em 0.25em 0.82em;
  margin: 0 0.15em;
}
ul.zones-as-buttons li a:hover{ color: #fff; background-color: #777; }
ul.zones-as-buttons li span.separator{ display: none;}


