body { /* thanks http://chneukirchen.org/ */
font-family:"Helvetica Neue",Arial,sans-serif;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:bold;
letter-spacing:-0.75pt;
/*padding-left: 1em;*/
}
h1,h2,h3,h4,h5 {color:#999999;      }
h1{ font-size:20pt; line-height:22pt;}
h2{ font-size:17pt; }
h3{ font-size:13pt; }
h4{ font-size:11pt; }
h5{ font-size:10pt; }       
a{text-decoration:none;color: #999;}
a:hover{color: #000;}
