<!DOCTYPE html>
%html
  %head
    %script(type='text/javascript' src='/js/jquery/current.js')
    - if @js
      - @js.each do |js|
        %script{:type=>'text/javascript', :src=>js}
    %link(rel="stylesheet" type="text/css" href="/css/default.css")
    - if @css
      - @css.each do |css|
        %link{:rel=>'stylesheet', :type=>'text/css', :href=>css}
    %title 
      = @title || 'social sync'
  %body
    - if flash_message = session.delete(:msg)
      %h3 success
      %p
        %em =flash_message
    - if error_message = session.delete(:err)
      .error
        %h3.error sorry, uh error occured
        %p.error 
          =h error_message
    = @content