%h2
  %a(href='/')sync
  your blog sites

%table.basic(style='margin-left: 1em')
  %tr
    %td wordpress
    %td uploaded file 1
    %td 
      %a.button-3 remove
  %tr
    %td tumblr
    %td beavis@butthead.com  
    %td 
      %a.button-3 remove    
    

%h3
  %a(href='\#' id='add-svc')
    add
    

.svc-med-wp(class="svc-med wp" style='display:none')
  %img(src='/images/svcs/lrg/wp.png' class='svc-med svc-med-wp' alt='wordpress')
.svc-med-tumblr(class="svc-med tumblr" style="display:none")
  %img(src='/images/svcs/lrg/tumblr.jpg' class="svc-med svc-med-tumblr" alt='tumblr')
.stuff1(id='svc-cred')
  %table.form1(class='tumblr' style='display:none')
    %tr
      %th
        tumblr email address
      %td
        %input(type='text')
      %td
    %tr
      %th
        password
      %td
        %input(type='text')
      %td
        %em.small never saved
    %tr
      %td(colspan='2' style='text-align: right')
        %a.button-3(class='svc-add-cancel')  cancel 
      %td
    %form(method="post" enctype="multipart/form-data" action='/uploads/wp' id='wp-upload-form')         
      %table.form1(class='wp' style='display:none')
        %tr
          %th
            wordpress xml dump file
            %em.small
              %a(href='\#' style='vertical-align: super')
                (?)
          %td
            %input(type='file' name='file')
          %td  
        %tr
          %td(colspan='2' style='text-align: right')  
            %input(type="submit" value='submit' name='submit')
            %a.button-3(id='wp-upload-btn' href='\#') upload
            &nbsp;&nbsp;&nbsp;
            %a.button-3(class='svc-add-cancel')  cancel 
          %td
        